@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(45deg,rgb(159, 88, 0),rgb(255, 247, 0));
    color: black;
}